{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <!-- Form - Blog Post -->
                <form action="" method="post" class="form-horizontal">

                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-sm-9">
                            <!-- Errors - body -->
                            {% if form.vote.errors %}
                                <label class="alert alert-danger">{{ form.body.errors }}</label>
                            {% endif %}

                            <!-- Form fields - body -->
                            <ul>
                            {% for choice in choices %}
                              <li>
                                <input type="radio" name="vote" value="{{choice.0}}"
                                  {% ifequal form.vote.data choice.0 %} 
                                     checked="checked"
                                  {% endifequal %}/>
                                <label for="">{{choice.1}}</label>
                              </li>
                            {% endfor %}
                            </ul>
                    <div class="form-group">
                        <div class="col-sm-9">

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Save</button>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock content %}