{% extends "blog/base.html" %}

{% block content %}
    <div class="container">

        <header class="jumbotron my-8">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">A disaster help prediction/classification system</p>
        </header>

        <div class="row">

        <div class="col-xs-12">
          {% for post in posts %}
          <div class="jumbotron my-32">
            <h4 class="card-title"><a href="{% url 'blog:post' post.pk %}">{{ post.body }}</a></h4>
              <p class="card-text">Predicted class : {{classes|get_item:post.clss}}</p>
              <a href="{% url 'blog:post_clas' post.clss %}" class="btn btn-primary">Click for more of {{classes|get_item:post.clss}}</a><br/><br/>
              </div>
            {% endfor %}
            </div>
          </div>
    </div>
{% endblock content %}