{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          {% for post in posts %}
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Predicted class {{classes|get_item:post.clss}}</h4>
              <p class="card-text"><a href="{% url 'blog:post' post.pk %}">{{ post.body }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}